Source: golang-github-gofrs-flock
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders:
 Dmitry Smirnov <onlyjob@debian.org>,
Section: golang
Testsuite: autopkgtest-pkg-go
Priority: optional
Build-Depends:
 debhelper-compat (= 13),
 dh-golang,
Build-Depends-Indep:
 golang-any,
 golang-gopkg-check.v1-dev,
Standards-Version: 4.6.0
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-gofrs-flock
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-gofrs-flock.git
Homepage: https://github.com/gofrs/flock
Rules-Requires-Root: no
XS-Go-Import-Path: github.com/gofrs/flock

Package: golang-github-gofrs-flock-dev
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
Description: thread-safe file locking library in Golang
 flock implements a thread-safe sync.Locker interface for file locking.
 It also includes a non-blocking TryLock() function to allow locking
 without blocking execution.
 .
 This library is formerly known as "github.com/theckman/go-flock".
